<%-include('header')%>
  <!-- nav -->
  <%- include('nav-index')%>

    <!-- page_top -->
    <div class="home_page_top">
      <!--  -->
      <div class="home_page_top_left">
        <h1>Stay curious.</h1>
        <p>Discover stories, thinking, and expertise from writers on any topic.</p>
        <a href="/signupOptions"><button>Start reading</button></a>
      </div>
      <!--  -->
      <div class="home_page_top_right">
        <div id="particles-js"></div>
      </div>
    </div>







    <!--  -->
    <%-include('footer')%>