<nav class="home-nav">
    <div class="home-nav_left">
        <a href="/">
            <h1>
                <div class="small_circle"></div>
                <div class="large_circle"></div>
                Medium
            </h1>
        </a>
    </div>
    <div class="home-nav_right">
        <ul>
            <a href="">
                <li>Our story</li>
            </a>
            <a href="">
                <li>Membership</li>
            </a>
            <a href="">
                <li>Write</li>
            </a>
            <a href="/signinOptions">
                <li>Sign in</li>
            </a>
            <a class="nav-home_btn" href="/signupOptions
            ">
                <li class="nav-home-btn-li">Get Started</li>
            </a>
        </ul>
    </div>
</nav>