<%-include('header')%>
  <!-- siginin_page -->

  <div class="signin_page">
    <div class="form_Wrapper signin_form_Wrapper">
      <div id="sigin_cancel">
        <a href="/forget-password">
          <i class="ri-close-fill"></i>
        </a>
      </div>
      <!--  -->
      <h1>Forget password</h1>
      <p id="signin_info_text">Enter new password and it should be the combinatons of letters, symbols and numbers.</p>
      <!--  -->
      <form action="/set-password/<%= id%>" method="post" class="signin_email_form">
        <input class="input_signin_pwd" type="password" placeholder="******" name="password">
        <button>Forget password</button>
      </form>
      <!--  -->
      <a id="redirect_signinoptions" href="/forget-password">&#706;&nbsp;&nbsp;Back to the forget page.</a>
    </div>
  </div>









  <!--  -->
  <%-include('footer')%>