<%-include('header')%>
  <!-- siginin_page -->

  <div class="signin_page">
    <div class="form_Wrapper">
      <div id="sigin_cancel">
        <a href="/">
          <i class="ri-close-fill"></i>
        </a>
      </div>
      <!--  -->
      <h1>Join Medium.</h1>
      <!--  -->
      <div id="sigin_inputs">
        <!-- google -->
        <div class="google_signin signin">
          <a href="">
            <img src="/images/google.png" alt="">
            <span>Sign up with Google</span>
          </a>
        </div>
        <!-- FB -->
        <div class="FB_signin signin">
          <a href="">
            <img src="/images/facebook (1).png" alt="">
            <span>Sign up with Facebook</span>
          </a>
        </div>
        <!-- mail -->
        <div class="email_signin signin">
          <a href="/signup">
            <i class="ri-mail-line"></i>
            <span>Sign up with Email</span>
          </a>
        </div>
      </div>
      <!--  -->
      <div id="singup">
        <span>Already have an account?</span><a href="/signinOptions">Sign in</a>
      </div>
      <!--  -->
      <div id="help">
        <span>Forgot email or trouble signing in?</span><a href="">Get help.</a>
      </div>
      <!--  -->
      <div id="Policy">
        <span>Click “Sign In” to agree to Medium’s</span>&nbsp;<a href="">Terms of Service</a>&nbsp;
        <span>and acknowledge that Medium’s</span>&nbsp;<a href="">Privacy Policy</a>&nbsp;<span>applies to you.</span>
      </div>
    </div>
  </div>









  <!--  -->
  <%-include('footer')%>